<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.r19.SakoriSarothiClient">

    <uses-permission android:name="anddroid.permission.READ_EXTERNAL_STROGARE/" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE/" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE/" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE/" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserFeedback"></activity>
        <activity android:name=".AppOpener">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".UserHome" />
        <activity android:name=".UserRegistration" />
        <activity android:name=".UserLogin" />
        <activity android:name=".NewUserMainActivity" />
        <activity android:name=".UserProfileUpdate" />
        <activity android:name=".HomeToSelect" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".UserSignOut" />
        <activity android:name=".UserSearchAllJob" />
        <activity android:name=".UserCheckStatus" />
        <activity android:name=".ContactUs" />
        <activity android:name=".PopUpTermsAndCondition" />
        <activity android:name=".UserChatting" />
        <activity android:name=".UserSearchCustomJob" />
        <activity android:name=".UserSearchCustomJobDetails" />
    </application>

</manifest>